
#principal{
    margin: 0;
}
#filter{       
    float: left; 
    background-color: brown;
    border-right: solid;
    margin: 0%;
    width: 30%;
    
}

#searchBox{
    
    float: left;
    background-color: chartreuse;
    margin: 0%;
    width: 65%;
}

footer{
position: absolute;
margin-top: 0rem !important;
background-color: #DCDADA;

}
body{
    background-color:#FFFDFD !important;

}

/*Modify nav bar color*/
.navbar-custom{
    background-color: #DCDADA !important;
}
p{
    margin-bottom: 0rem !important;
}